
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    overflow-x: hidden !important;
}

.container-fluid{
        max-width: 100% !important;
        overflow-x: hidden !important;
    }

#bannerimage{
  width: 100%;
  background-image: url(https://via.placeholder.com/1400X600.png);
  background-position: center;
  height: 600px;
}

#solidbg {
  background-color: gainsboro;
}

/*slick carousel next, previous buttons override*/
.slick-prev:before {
  color: red;
  font-size: 30px;
}

.slick-next:before {
  color: red;
  font-size: 30px;
}


.items {
    width: 90%;
    margin: 0px auto;
    margin-top: 100px
}

.slick-slide {
    margin: 10px
}

.slick-next{
 right: 25px;
 z-index: 1;
}

.slick-prev{
 left: 15px; 
 z-index: 1;
}

p{
  padding: 0;  
  margin:0;
}

.row{
  margin-right:auto;
  margin-left:auto;    

}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
}

@media screen and (max-width: 667px) {
    body {
        overflow-x: hidden !important;
    }
}

@media screen and (min-width: 426px) {
/*
    .responsive-iframe {
      width: 70%;
      height: 70%;
      padding: 0;
    }
*/
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  
 }

.blog-post{
 margin: 6em;
 justify-content: center;

}
