
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    overflow-x: hidden !important;
}

.container-fluid{
        max-width: 100% !important;
        overflow-x: hidden !important;
}

.vid{
/* margin-left: 50%;*/
margin-top: -10em;
}

/*STAKING OF ITEMS <TABLET*/
@media (max-width: 767px) {
    
    .vid{
/*        top: em;*/
        top: 0em;
        position: relative !important;
/*
        z-index:3;
        order: 1;
*/
    }
    
    iframe{
        padding: 0.6em;
    }
      .haha{
       position: relative !important;
}
}
#bannerimage{
  width: 100%;
/*  height: 85vh;*/
/*display: flex;*/
  background-image: url(https://via.placeholder.com/1440X771.png);
  background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  height:771px;
/*  object-fit:contain !important;*/
}

#bannerimageaboutpage{
  width: 100%;
/*  height: 85vh;*/
/*display: flex;*/
  background-image: url(../IMG/Website-Images/about-page-landing-image-blurred.jpg);
  background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  height:771px;
/*  object-fit:contain !important;*/
}

/* ----------------------------------------------------------- */
/* ------------------- SECTION BG COLOUR --------------------- */
/* ----------------------------------------------------------- */
#solidbg {
  background-color: gainsboro;
}

#solidbg-blue {
  background-color: #221EE0;
}

#solidbg-lightblue {
/*  background-color: #EDEDFD;*/
    background-image: linear-gradient(white, #EDEDFD);
}

#solidbgblock {
  background-color: gainsboro;
  width: 100%;
}
/* ----------------------------------------------------------- */


/*slick carousel next, previous buttons override*/
.slick-prev:before {
  color: rgba(0, 0, 255, 0.81);
  font-size: 35px;
}

.slick-next:before {
  color: rgba(0, 0, 255, 0.81);
  font-size: 35px;
}


.items {
    width: 90%;
    margin: 0px auto;
    margin-top: 100px;
}

.slick-slide {
    margin: 10px
}

.slick-next{
 right: 25px;
 z-index: 1;
}

.slick-prev{
 left: 0px; 
 z-index: 1;
}

p{
  padding: 0;  
  margin:0;
}

.row{
  margin-right:auto;
  margin-left:auto;    

}


@media screen and (max-width: 667px) {
    body {
        overflow-x: hidden !important;
    }
}

@media screen and (min-width: 426px) {
/*
    .responsive-iframe {
      width: 70%;
      height: 70%;
      padding: 0;
    }
*/
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
 }


hr {
  display: inline-block;
  width:100%;
  text-align:left;
  margin-left:0;
}

/*
SINGLE PROJ GALLERY 

.gallery-block.grid-gallery{
  padding-bottom: 1em;
  padding-top: 1em;
  margin-right: 1%;
  margin-left: 1%;
}

.gallery-block.grid-gallery{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.grid-gallery a:hover{
  opacity: 0.8;
}

.gallery-block.grid-gallery .item img{
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}

.gallery-block.grid-gallery .item{
  margin-bottom: 20px;
}

@media (min-width: 576px) {

  .gallery-block.grid-gallery .scale-on-hover:hover{
    transform: scale(1.05);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
  }
}
*/


/*--------NEW CONTENT*/


/*CUSTOM PADDING fro SPECIFIC ELEMENTS*/

.p-7 {
  padding: 7rem !important;
}

.pt-6,
.py-6 {
  padding-top: 7rem !important;
}

.pr-6,
.px-6 {
  padding-right: 7rem !important;
}

.pb-7,
.py-6 {
  padding-bottom: 16.666667% !important;
}

.pl-6,
.px-6 {
  padding-left: 7rem !important;
}


/*CUSTOM PADDING fro SPECIFIC ELEMENTS*/

@media (min-width: 769px) {
   /*-40px padding*/ 
  .p-md-4 {
    padding: 2.77777767% !important;
  }
  .pt-md-4,
  .py-md-4 {
    padding-top: 2.77777767%  !important;
  }
  .pr-md-4,
  .px-md-4 {
    padding-right: 8.333333% !important;
  }
  .pb-md-4,
  .py-md-4 {
    padding-bottom: 8.333333% !important;
  }
  .pl-md-4,
  .px-md-4 {
    padding-left: 8.333333% !important;
  }
    
/*-120px padding*/
  .p-md-6 {
    padding: 8.333333% !important;
  }
  .pt-md-6,
  .py-md-6 {
    padding-top: 8.333333% !important;
  }
  .pr-md-6,
  .px-md-6 {
    padding-right: 8.333333% !important;
  }
  .pb-md-6,
  .py-md-6 {
    padding-bottom: 8.333333% !important;
  }
  .pl-md-6,
  .px-md-6 {
    padding-left: 8.333333% !important;
  }
    
/*-80px padding*/
  .p-md-7 {
    padding: 16.666667% !important;
  }
  .pt-md-7,
  .py-md-7 {
    padding-top: 16.666667% !important;
  }
  .pr-md-7,
  .px-md-7 {
    padding-right: 16.666667% !important;
  }
  .pb-md-7,
  .py-md-7 {
    padding-bottom: 16.666667% !important;
  }
  .pl-md-7,
  .px-md-7 {
    padding-left: 16.666667% !important;
  }   
    
    
    
/* recent carousel*/
    .col-md-10 {
 
    /* flex: 0 0 83.333333%; */
     max-width: 100% !important;
     padding-left: 0px !important;
}

}

/*recent proj cards*/
    .recentproj .card  {
    height: 404px;
    }
    
    
    .recentsection{
      top: -100px;
        max-height: 600px;
    }

/*TRUNKATE TEXT*/
    .ellipses-text {
    /*  width: 250px;*/
      overflow: hidden;
    }




/*----------------PROJECT CARDS---------------*/



.recentproj .card{
    width: 20rem;
     justify-content: center;
     align-content: center;
    height:100%;

}

.reflection .card{
    border: none;
    box-shadow: none;
    height: 100%;
    
}

.reflection .card-body{
    padding: 0 2em 2em 0em;
    
}


.works-slideshow img{
 width:95%;
}


/*--------------DROP DOWN PUBLICATION ABSTRACT---------------*/
.dropdownn > .dropdownn-menu {
  width: 90%;
  list-style: none;
  margin: 0;
  margin-top: 8px;
  padding: 0;
  position: absolute;
  float: left;
  max-height: 0;
  overflow: hidden;
  transition: all 0.55s linear;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  z-index: 100;
}

.dropdownn > .dropdownn-menu.open {
  max-height: 300px;
  height: auto;
  transition: all 0.25s linear;
}

.dropdownn > .dropdownn-menu > p {
    padding: 1rem 1rem;
    transition: all 0.25s linear;
    font-size: 1.05em;
}

/*caret icon*/
.down-caret {
  width: 0;
  height: 0;
  border-style: solid;
  border-radius: 1px;
  border-width: 6px 6px 0 6px;
  border-color: blue transparent transparent transparent;
  display: inline-block;
  margin-left: 6px;
  top: -2px;
  position: relative;
  transform: rotate(0deg);
  transition: all 0.25s ease-in;
}

/* Reverse the caret icon*/
.open-caret {
  transform: rotate(180deg);
  transition: all 0.25s ease-out;
}

/*-------------STICKY SCROLL BACK TO TOP BTN on PROJ & PUBLICATIONS PAGES-------------------*/

.top-link {
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: .25em;
  width: 80px;
  height: 80px;
  background-color: rgba(226, 226, 226, 0.37);
  z-index: 100;
}
.top-link.show {
  visibility: visible;
  opacity: 1;
}
.top-link.hide {
  visibility: hidden;
  opacity: 0;
}
.top-link svg {
  fill: rgba(0, 0, 255, 0.88);
  width: 64px;
  height: 42px;
}
.top-link:hover {
  background-color: rgba(0, 0, 255, 0.1);
}
.top-link:hover svg {
  fill: blue;
}
