
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    overflow-x: hidden !important;
}

.container-fluid{
        max-width: 100% !important;
        overflow-x: hidden !important;
    }

.vid{
/* margin-left: 50%;*/
top: -10em;
}

/*STAKING OF ITEMS <TABLET*/
@media (max-width: 767px) {
    
    .vid{
        top: -3em;
        position: relative; !important;
/*
        z-index:3;
        order: 1;
*/
    }
    
    iframe{
        padding: 0.6em;
    }
      .haha{
       position: relative; !important;
/*          top: 24em;*/
/*
       z-index: 2;
       order: 2;
*/
    }  
/*
    .haha{
       margin-top: 30em;
    }
*/
}

#bannerimage{
  width: 100%;
  background-image: url(https://via.placeholder.com/1440X771.png);
  background-position: center;
  height: 771px;
}

#solidbg {
  background-color: gainsboro;
}

#solidbg-blue {
  background-color: #221EE0;
}

#solidbgblock {
  background-color: gainsboro;
  width: 100%;
}

/*slick carousel next, previous buttons override*/
.slick-prev:before {
  color: red;
  font-size: 30px;
}

.slick-next:before {
  color: red;
  font-size: 30px;
}


.items {
    width: 90%;
    margin: 0px auto;
    margin-top: 100px
}

.slick-slide {
    margin: 10px
}

.slick-next{
 right: 25px;
 z-index: 1;
}

.slick-prev{
 left: 15px; 
 z-index: 1;
}

p{
  padding: 0;  
  margin:0;
}

.row{
  margin-right:auto;
  margin-left:auto;    

}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
}

@media screen and (max-width: 667px) {
    body {
        overflow-x: hidden !important;
    }
}

@media screen and (min-width: 426px) {
/*
    .responsive-iframe {
      width: 70%;
      height: 70%;
      padding: 0;
    }
*/
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
 }

.blog-post{
 margin: 6em;
 justify-content: center;

}


hr {
  display: inline-block;
  width:100%;
  text-align:left;
  margin-left:0;
}

/*
SINGLE PROJ GALLERY 

.gallery-block.grid-gallery{
  padding-bottom: 1em;
  padding-top: 1em;
  margin-right: 1%;
  margin-left: 1%;
}

.gallery-block.grid-gallery{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.grid-gallery a:hover{
  opacity: 0.8;
}

.gallery-block.grid-gallery .item img{
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}

.gallery-block.grid-gallery .item{
  margin-bottom: 20px;
}

@media (min-width: 576px) {

  .gallery-block.grid-gallery .scale-on-hover:hover{
    transform: scale(1.05);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
  }
}
*/


/*--------NEW CONTENT*/


/*CUSTOM PADDING fro SPECIFIC ELEMENTS*/

.p-7 {
  padding: 7rem !important;
}

.pt-6,
.py-6 {
  padding-top: 7rem !important;
}

.pr-6,
.px-6 {
  padding-right: 7rem !important;
}

.pb-7,
.py-6 {
  padding-bottom: 16.666667% !important;
}

.pl-6,
.px-6 {
  padding-left: 7rem !important;
}


/*CUSTOM PADDING fro SPECIFIC ELEMENTS*/

@media (min-width: 769px) {
   /*-40px padding*/ 
  .p-md-4 {
    padding: 2.77777767% !important;
  }
  .pt-md-4,
  .py-md-4 {
    padding-top: 2.77777767%  !important;
  }
  .pr-md-4,
  .px-md-4 {
    padding-right: 8.333333% !important;
  }
  .pb-md-4,
  .py-md-4 {
    padding-bottom: 8.333333% !important;
  }
  .pl-md-4,
  .px-md-4 {
    padding-left: 8.333333% !important;
  }
    
/*-120px padding*/
  .p-md-6 {
    padding: 8.333333% !important;
  }
  .pt-md-6,
  .py-md-6 {
    padding-top: 8.333333% !important;
  }
  .pr-md-6,
  .px-md-6 {
    padding-right: 8.333333% !important;
  }
  .pb-md-6,
  .py-md-6 {
    padding-bottom: 8.333333% !important;
  }
  .pl-md-6,
  .px-md-6 {
    padding-left: 8.333333% !important;
  }
    
/*-80px padding*/
  .p-md-7 {
    padding: 16.666667% !important;
  }
  .pt-md-7,
  .py-md-7 {
    padding-top: 16.666667% !important;
  }
  .pr-md-7,
  .px-md-7 {
    padding-right: 16.666667% !important;
  }
  .pb-md-7,
  .py-md-7 {
    padding-bottom: 16.666667% !important;
  }
  .pl-md-7,
  .px-md-7 {
    padding-left: 16.666667% !important;
  }   
    
    
    
/* recent carousel*/
    .col-md-10 {
 
    /* flex: 0 0 83.333333%; */
     max-width: 100%; !important;
     padding-left: 0px; !important;
}

}

/*recent pro cards*/
    .recentproj .card  {
    height: 404px;
    }
    
    
    .recentsection{
      top: -100px;
        max-height: 600px;
    }

/*TRUNKATE TEXT*/
    .ellipses-text {
    /*  width: 250px;*/
      overflow: hidden;
    }


/*map*/
.mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:800px;
}

.gmap_canvas{
    overflow:hidden;
    background:none!important;
    height:500px;
    width:800px;
}


/*---------------------------GALLERY STYLE FOR SINGLE PROJECT PAGE---------------------------------*/
/* The Modal (bg) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.65);
}

/* Images inside Modal*/
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 1200px;
}

/* close Button */
.close {
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ffffff;
  text-decoration: none;
/*  cursor: pointer;*/
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.13);
}

/* Image Caption top */
.numbertext {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.55);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Crop gallery images.*/
#gallery img {
  width: 100% !important;
  height: 100%; !important;
  object-fit: cover !important;
}

/*Gallery 1st Img heigh*/
#gallery .row >div {
    height: 360px;
}

#gallery .mainimg {
  margin-top: 0.5em; 
  margin-bottom: 0.5em; 
}

/*Gallery rest Img heigh*/
#gallery .row .force-height>div {
    height: 180px;
    margin: 0.5em;
}


#gallery .row .button-height {
    height: 50px;
}

/*Gallery 1st Img heigh on mobile*/
@media (max-width: 425px) {
 
    #gallery .row >div {
    height: 200px;
    }
}
    
