
/* ------------------------------------------------------------ */
/* STYLE GUIDE NAVIGATION */

.navbar {
    padding: 0.7em !important;
    border-bottom: 1px solid #bbbbbb;
}

/*
.styleguide-nav-item {
    font-family: 'Karla', sans-serif;
    font-size: 1.25em;
    text-decoration: none;
    color: #0B0402;
    margin-right: 2em;
    border-bottom: 3px solid transparent;
}
*/

.nav-link {
    font-family: 'Karla', sans-serif;
    font-size: 1.15em;
    text-decoration: none;
    color: #0B0402;
    margin-right: 1.4em;
    border-bottom: 3px solid transparent;
}

/*
.styleguide-nav-item-logo {
    font-family: 'Karla', sans-serif;
    font-size: 1.25em;
    margin-right: auto;
    text-decoration: none;
    color: #0B0402;
    border-bottom: 3px solid transparent;
}
*/

.navbar-brand {
    font-family: 'Karla', sans-serif;
    font-size: 1.15em;
    margin-right: auto;
    margin-left: 15px;
    text-decoration: none;
    color: #0B0402;
    border-bottom: 3px solid transparent;
}

/*
.styleguide-nav a:hover {
    border-bottom: 3px solid #221EE0;
    color: #221EE0;
}
*/

.nav-item a:hover {
    border-bottom: 3px solid #221EE0;
    color: #221EE0;
}

/*collapsed navigation icon*/
.navbar-toggler .navbar-toggler-icon{
  background-image: url(../IMG/icons/menu.svg);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline-color: #221EE0;
}

.navbar-toggler:hover{
    background-color: rgba(34, 30, 224, 0.1);
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}


/* ------------------------------------------------------------ */
/* TEXT ELEMENTS */

/* something is overriding the text element, can't increase/decrease size?? */

h1 {
    font-family: 'Karla', sans-serif;
    font-size: 8em;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.05em;
    color: #000000;
}

h2 {
    font-family: 'Anonymous Pro', monospace;
    font-size: 3.125em;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.03em;
    color: #000000;
}

h3 {
    font-family: 'Karla', sans-serif;
    font-size: 1.875em;
    font-style: normal;
    font-weight: bold;
    color: #000000;
}

h5 {
    font-family: 'Karla', sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: thin;
    color: #838383;
}

p {
    font-family: 'Karla', sans-serif;
    font-size: 1.125em;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

body {
    position: static;
}


/* ------------------------------------------------------------ */
/* IN TEXT AND BACK TO TOP LINKS */

.in-text-link {
    font-family: 'Karla', sans-serif;
    font-size: 1.1em;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: #221EE0;
    padding: 0.1em;
    margin-left: 0px; 
    margin-right: 2.4em;
    display: inline-block;
}

.in-text-link:hover {
    color: #13117D;
    border-bottom: 3px solid #221EE0;
    text-decoration: none;
}

.anchor-list-item {
    font-family: 'Karla', sans-serif;
    font-size: 1.25em;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: #221EE0;
    position: relative;
    margin-right: 1em;
    display: block;
}

.anchor-list-item:hover {
    color: #13117D;
    border-bottom: 3px solid #221EE0;
    text-decoration: none;
    top: -0.3em;
}

p.back-to-top-text {
    font-family: 'Karla', sans-serif;
    font-size: 1.1em;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: #221EE0;
}

.back-to-top-link {
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: #221EE0;
    display: inline-block;
}

img.back-to-top-arrow {
    position: relative;
    padding-right: 0.5em;
    top: -0.2em;
    transition-duration: 0.5s;
}

.back-to-top-link:hover img {
    top: -0.5em;
    transition-duration: 0.5s;
}

/* my hack job of trying to solve this issue - underline still showing up even when I write 'none'*/
.back-to-top-link:hover p {
    text-decoration: underline;
    text-decoration-color: white;
}




/* ------------------------------------------------------------ */
/* BUTTONS */

.primary-button {
    font-family: 'Karla', sans-serif;
    font-size: 1.25em;
    font-style: normal;
    font-weight: bold;
    color: #ffffff;
    background-color: #221EE0;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2.5em;
    padding-left: 2.5em;
    border: none;
    border-radius: 0.625em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.35);
    margin-right: 1em;
}

.primary-button:hover {
    background: #13117D;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.secondary-button {
    font-family: 'Karla', sans-serif;
    font-size: 1.25em;
    font-style: normal;
    font-weight: bold;
    color: #221EE0;
    background-color: #ffffff;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    padding-right: 2.5em;
    padding-left: 2.5em;
    border: 0.125em solid #221EE0;
    border-radius: 0.625em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.35);
    margin-right: 1em;
}

.secondary-button:hover {
    color: #13117D;
    border-color: #13117D;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.tertiary-button {
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}

img.arrow-right {
    position: relative;
    padding-left: 0.5em;
    top: 0.1em;
    right: 0em;
    filter: brightness(0);
    transition-duration: 0.5s;
}

.tertiary-button:hover img {
    right: -0.5em;
    color: #221EE0;
    filter: brightness(1);
    transition-duration: 0.5s;
}

/* had to do the same thing here to get rid of the underline when hovered over */
.tertiary-button:hover p {
    color: #221EE0;
    filter: brightness(1);
    text-decoration: underline;
    text-decoration-color: white;
}

p.tertiary-button-text {
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.25em;
    font-style: normal;
    font-weight: bold;
    color: #2e2928;
    display: inline;
}

/*.tertiary-button:hover img {
    right: -0.5em;
    transition-duration: 0.5s;
}*/


.filter-button {
    font-family: 'Karla', sans-serif;
    font-size: 1.25em;
    font-style: normal;
    font-weight: bold;
    color: #221EE0;
    background: #F5F3FF;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-right: 8em;
    padding-left: 1.5em;
    border: 0.15em solid #433FFF;
    border-radius: 0.625em;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.active, .filter-button:hover {
    border-color: #13117D;
    color: #13117D;
}

.filter-description {
    font-family: 'Karla', sans-serif;
    font-size: 1.125em;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    display: none;
    overflow: hidden;
}


/* ------------------------------------------------------------ */
/* FORM INPUT */

form {
    margin-left: -1em;
}

label {
    display: inline-block;
}

.text-input {
    font-family: 'Karla', sans-serif;
    font-size: 1.25em;
    font-style: normal;
    font-weight: normal;
    color: rgba(34, 30, 244, 0.25);
    background: #ffffff;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-right: 0.8em;
    padding-left: 0.8em;
    border: 0.14em solid #221EE0;
    box-sizing: border-box;
    border-radius: 0.625em;
    display: inline-block;
}

.text-input:focus {
    color: #0B0402;
    background: rgba(0, 87, 255, 0.08);
    border: 0.14em solid #13117D;
    outline: 0;
}



/* ------------------------------------------------------------ */
/* HEADERS */

.header-container {
    position: relative;
    text-align: center;
    color: #000000;
}

.header-text {
    position: absolute;
    bottom: 0em;
    left: 2.5em;
}

.header-image {
    width: 100%;
}

.project-image {
    width: 33%;
}



/* ------------------------------------------------------------ */
/* HEADERS */

button.project-button {  
    background-image: url('img/project-image-placeholder.png') 10px 10px no-repeat;
    width: 200em;
}




/*!
  Projects Page Tests
 */

  .layout-margin-8 {
    margin: 3% 8%;
  }
  
  .card-img-top-custom {
    width: 50%;
    margin: 0 auto;
  }
  
  .card-title {
    text-align: left;
  }
  
  .card-deck {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
  }
  
  .card {
    margin-top: 0.5em;
/*
    padding: 3% 1.5%;
    border: none;
    max-width: 375px;*/
    flex-grow: 1;
  }

  p.hidden-project-description {
      font-size: 0;
  }
  
  @media (min-width: 768px) {
  .form-control {
    width: 500px !important;
    height: 50px;
  }
  }
  
  .bg-blue {
    background-color: #005EB8;
  }

  ul.filters{
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 0;
    text-align: left;
}

  ul.filters > li{
    list-style: none;
    text-align: left;
}

  ul.filters > li > a{
    display: block;
    color: #434e5e;
    text-decoration: none;
    padding: 5px 20px;
    text-align: left;
}

  ul.filters > li > a:hover{
    background-color: #e6e9ed;
    text-align: left;
}

  ul.filters > li.active > a{
    color: #fff;
    background-color: #28bea8;
    text-align: left;
}

.projects {
    padding-bottom: 10em;
}


/* CONTAINERS */
/* what did I make this for again?? haha*/ /*styleguide container*/
div.container-all {
    padding: 30px 80px 30px 80px;
}

div.contain-items {
    padding: 5em 0px 5em 0px;
}

/* FOOTER */
footer {
    padding: 2.5em 0.7em 0.7em 0.7em;
    background-color: gray;
}

p.copyright {
    font-size: 0.8em;
}

.material-icons {
    transform: translate(0px, 5px);
    margin-right: .5em;
}

.material-icons.md-1 {
    font-size: 1.2em;
}

.fa {
    color: #221EE0;
    margin-right: 10px;
}

.fa:hover {
    color: #13117D;
}

div.footer-container-item {
    margin-bottom: 2em;
}

/*Not Clickable Cards*/
.card.noclick{
    border: none;
    background: none;
}

.card.noclick:hover {
text-decoration: none;
box-shadow: none;

}

/*
@media (max-width: 767px) {
   SIDE BAR ALIGN ITEMS HORIZONTALLY + scroll members page + make sticky
}*/
